*{
  background-color: blue;
}
.card-img{
  background-image: url('https://www.shutterstock.com/image-vector/people-logo-letter-r-concept-260nw-2069045450.jpg');
  background-repeat: no-repeat;
}
p{
  color: rgba(182, 175, 175, 0.786);
  font-size: small;
  margin-left: 20px;
}
a{
  font-size: small;
  margin-left: 55px;
  margin-top: 100px !important;
  color: rgba(182, 175, 175, 0.786) !important;
  text-decoration: none !important;
}